<a href="https://colab.research.google.com/github/MathewBiddle/ioos_metrics/blob/yearly_ra_gts/notebooks/IOOS_obs_2_NDBC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install erddapy

Collecting erddapy
  Downloading erddapy-2.2.4-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.11/dist-packages (from erddapy) (0.28.1)
Requirement already satisfied: pandas<3,>=0.25.2 in /usr/local/lib/python3.11/dist-packages (from erddapy) (2.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.11/dist-packages (from erddapy) (2025.2)
Requirement already satisfied: anyio in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (4.9.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (1.0.8)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (3.10)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx>=0.25.0->erddapy) (0.14.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=0.25.2->erddapy) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx>=0.25.0->erddapy) (1.3.1)
Requirement already satisfied: typing_extensions>=4.5 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx>=0.25.0->erddapy) (4.13.2)
Downloading erddapy-2.2.4-py3-none-any.whl (24 kB)
Installing collected packages: erddapy
Successfully installed erddapy-2.2.4

In [2]:
import pandas as pd
from erddapy import ERDDAP

# Function to grab the data.

In [3]:
def get_ndbc_full_stats():
    e = ERDDAP(
        server="https://erddap.ioos.us/erddap",
        protocol="tabledap",
    )
    e.response = "csv"
    dsets = {"IOOS": "gts_regional_statistics",
             "NDBC": "gts_ndbc_statistics",
             "non-NDBC": "gts_non_ndbc_statistics"}
    df_out = pd.DataFrame()
    for key, value in dsets.items():
        e.dataset_id = value
        df = e.to_pandas(
            index_col="time (UTC)",
            parse_dates=True
        )
        df["source"] = key
        df_out = pd.concat([df_out,df])
    return df_out

# Go get the data and return the dataframe

In [4]:
df = get_ndbc_full_stats()

df

,Year,Month,locationID,region,sponsor,met,wave,source
time (UTC),,,,,,,,
2018-01-01 00:00:00+00:00,2018,1,46108,AOOS,ALASKA OCEAN OBSERVING SYSTEM,0,2592,IOOS
2018-01-01 00:00:00+00:00,2018,1,AJXA2,AOOS,MARINE EXCHANGE OF ALASKA,8796,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,CDXA2,AOOS,MARINE EXCHANGE OF ALASKA,4782,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,ERXA2,AOOS,MARINE EXCHANGE OF ALASKA,5634,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,GIXA2,AOOS,MARINE EXCHANGE OF ALASKA,8798,0,IOOS
...,...,...,...,...,...,...,...,...
2025-03-01 00:00:00+00:00,2025,3,OCSM2,NaN,U.S. ARMY CORPS OF ENGINEERS,0,0,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,44097,NaN,U.S. ARMY CORPS OF ENGINEERS,0,2976,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,FRFN7,NaN,U.S. ARMY CORPS OF ENGINEERS,0,0,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,44100,NaN,U.S. ARMY CORPS OF ENGINEERS,0,2976,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,32012,NaN,WOODS HOLE OCEANOGRAPHIC INSTITUTION,0,0,non-NDBC

# Compute yearly totals of number of IOOS messages sent to the GTS.

In [52]:
yearly_totals = df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum()

yearly_totals['total'] = yearly_totals['met'] + yearly_totals['wave']

print(yearly_totals.loc['IOOS'].to_markdown(floatfmt=''))

| time (UTC)                |        met |      wave |      total |
|:--------------------------|-----------:|----------:|-----------:|
| 2018-12-31 00:00:00+00:00 | 10250188.0 | 1586648.0 | 11836836.0 |
| 2019-12-31 00:00:00+00:00 | 11344260.0 | 1682754.0 | 13027014.0 |
| 2020-12-31 00:00:00+00:00 | 10501536.0 | 1410472.0 | 11912008.0 |
| 2021-12-31 00:00:00+00:00 | 10189996.0 | 1610856.0 | 11800852.0 |
| 2022-12-31 00:00:00+00:00 | 11295426.0 | 1616542.0 | 12911968.0 |
| 2023-12-31 00:00:00+00:00 | 12719038.0 | 1796258.0 | 14515296.0 |
| 2024-12-31 00:00:00+00:00 | 12794686.0 | 1726010.0 | 14520696.0 |
| 2025-12-31 00:00:00+00:00 |  2910610.0 |  338230.0 |  3248840.0 |

# Compute yearly totals of IOOS messages sent to the GTS by region.

In [53]:
yearly_region_totals = df.groupby(by=["source", "region", pd.Grouper(freq="YE")])[['met','wave']].sum()

yearly_region_totals['total'] = yearly_region_totals['met'] + yearly_region_totals['wave']

yearly_region_totals.reset_index('region',inplace=True)

print(yearly_region_totals.loc['IOOS'].to_markdown(floatfmt=''))

| time (UTC)                | region   |     met |   wave |   total |
|:--------------------------|:---------|--------:|-------:|--------:|
| 2018-12-31 00:00:00+00:00 | AOOS     | 2571070 |  27968 | 2599038 |
| 2019-12-31 00:00:00+00:00 | AOOS     | 2810422 |  31584 | 2842006 |
| 2020-12-31 00:00:00+00:00 | AOOS     | 2697606 |   8258 | 2705864 |
| 2021-12-31 00:00:00+00:00 | AOOS     | 2574888 |  24336 | 2599224 |
| 2022-12-31 00:00:00+00:00 | AOOS     | 3675118 |  37414 | 3712532 |
| 2023-12-31 00:00:00+00:00 | AOOS     | 5620044 |  34026 | 5654070 |
| 2024-12-31 00:00:00+00:00 | AOOS     | 5939434 |  31992 | 5971426 |
| 2025-12-31 00:00:00+00:00 | AOOS     | 1516796 |   8100 | 1524896 |
| 2018-12-31 00:00:00+00:00 | CARICOOS |  619422 |  68520 |  687942 |
| 2019-12-31 00:00:00+00:00 | CARICOOS |  719876 |  83582 |  803458 |
| 2020-12-31 00:00:00+00:00 | CARICOOS |  629990 |  93232 |  723222 |
| 2021-12-31 00:00:00+00:00 | CARICOOS |  676958 |  99074 |  776032 |
| 2022-12-31 00:00:00+00:00 | CARICOOS |  506648 | 101264 |  607912 |
| 2023-12-31 00:00:00+00:00 | CARICOOS |  335790 | 120508 |  456298 |
| 2024-12-31 00:00:00+00:00 | CARICOOS |  358806 |  99550 |  458356 |
| 2025-12-31 00:00:00+00:00 | CARICOOS |  101748 |  25704 |  127452 |
| 2018-12-31 00:00:00+00:00 | CeNCOOS  |  520352 |      0 |  520352 |
| 2019-12-31 00:00:00+00:00 | CeNCOOS  |  614208 |      0 |  614208 |
| 2020-12-31 00:00:00+00:00 | CeNCOOS  |  476714 |      0 |  476714 |
| 2021-12-31 00:00:00+00:00 | CeNCOOS  |  486558 |      0 |  486558 |
| 2022-12-31 00:00:00+00:00 | CeNCOOS  |  438034 |      0 |  438034 |
| 2023-12-31 00:00:00+00:00 | CeNCOOS  |  466466 |      0 |  466466 |
| 2024-12-31 00:00:00+00:00 | CeNCOOS  |  402722 |      0 |  402722 |
| 2025-12-31 00:00:00+00:00 | CeNCOOS  |   88454 |      0 |   88454 |
| 2018-12-31 00:00:00+00:00 | GCOOS    | 4194290 |      0 | 4194290 |
| 2019-12-31 00:00:00+00:00 | GCOOS    | 4589990 |   1658 | 4591648 |
| 2020-12-31 00:00:00+00:00 | GCOOS    | 4462670 |   9972 | 4472642 |
| 2021-12-31 00:00:00+00:00 | GCOOS    | 4281378 |      0 | 4281378 |
| 2022-12-31 00:00:00+00:00 | GCOOS    | 4464360 |      0 | 4464360 |
| 2023-12-31 00:00:00+00:00 | GCOOS    | 4179490 |      0 | 4179490 |
| 2024-12-31 00:00:00+00:00 | GCOOS    | 4469570 |      0 | 4469570 |
| 2025-12-31 00:00:00+00:00 | GCOOS    |  955506 |  15752 |  971258 |
| 2018-12-31 00:00:00+00:00 | GLOS     |  931280 | 727248 | 1658528 |
| 2019-12-31 00:00:00+00:00 | GLOS     |  984798 | 767838 | 1752636 |
| 2020-12-31 00:00:00+00:00 | GLOS     |  799460 | 507360 | 1306820 |
| 2021-12-31 00:00:00+00:00 | GLOS     |  985644 | 821922 | 1807566 |
| 2022-12-31 00:00:00+00:00 | GLOS     |  916966 | 674476 | 1591442 |
| 2023-12-31 00:00:00+00:00 | GLOS     |  734626 | 708656 | 1443282 |
| 2024-12-31 00:00:00+00:00 | GLOS     |  503360 | 477802 |  981162 |
| 2025-12-31 00:00:00+00:00 | GLOS     |    4228 |      0 |    4228 |
| 2018-12-31 00:00:00+00:00 | NANOOS   |  192018 |  12548 |  204566 |
| 2019-12-31 00:00:00+00:00 | NANOOS   |  295346 |  25746 |  321092 |
| 2020-12-31 00:00:00+00:00 | NANOOS   |  242372 |  22708 |  265080 |
| 2021-12-31 00:00:00+00:00 | NANOOS   |   12756 |  20740 |   33496 |
| 2022-12-31 00:00:00+00:00 | NANOOS   |  114814 |   8812 |  123626 |
| 2023-12-31 00:00:00+00:00 | NANOOS   |  100926 |      0 |  100926 |
| 2024-12-31 00:00:00+00:00 | NANOOS   |   72704 |      0 |   72704 |
| 2025-12-31 00:00:00+00:00 | NANOOS   |   17616 |      0 |   17616 |
| 2018-12-31 00:00:00+00:00 | NERACOOS |  249958 | 202224 |  452182 |
| 2019-12-31 00:00:00+00:00 | NERACOOS |  215136 | 144264 |  359400 |
| 2020-12-31 00:00:00+00:00 | NERACOOS |  223552 | 143672 |  367224 |
| 2021-12-31 00:00:00+00:00 | NERACOOS |  166930 | 134378 |  301308 |
| 2022-12-31 00:00:00+00:00 | NERACOOS |  195404 | 162558 |  357962 |
| 2023-12-31 00:00:00+00:00 | NERACOOS |  201388 | 208866 |  410254 |
| 2024-12-31 00:00:00+00:00 | NERACOOS |  200676 | 196482 |  397158 |
| 2025-12-31 00:00:00+00:00 | NERACOOS |   42020 |  45902 |   87922 |
| 2018-12-31 00:00:00+00:00 | PacIOOS  |       0 | 370940 |  370940 |
| 2019-12-31 00:00:00+00:00 | PacIOOS  |       0 | 456810 |  456810 |
| 2020-12-31 00:00:00+00:00 | PacIOOS  |       0 | 457412 |  457412 |
| 2021-12-31 00:00:00+00:00 | PacIOOS  |       0 | 308712 |  308712 |
| 2022-12-31 00:00:00+00:00 | PacIOOS  |       0 | 396018 |  396018 |
| 2023-12-31 00:00:00+00:00 | PacIOOS  |       0 | 382024 |  382024 |
| 2024-12-31 00:00:00+00:00 | PacIOOS  |       0 | 481492 |  481492 |
| 2025-12-31 00:00:00+00:00 | PacIOOS  |       0 | 146066 |  146066 |
| 2018-12-31 00:00:00+00:00 | SCCOOS   |       0 |  32750 |   32750 |
| 2019-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34376 |   34376 |
| 2020-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34476 |   34476 |
| 2021-12-31 00:00:00+00:00 | SCCOOS   |       0 |  33480 |   33480 |
| 2022-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34122 |   34122 |
| 2023-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34948 |   34948 |
| 2024-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34576 |   34576 |
| 2025-12-31 00:00:00+00:00 | SCCOOS   |       0 |   8630 |    8630 |
| 2018-12-31 00:00:00+00:00 | SECOORA  |  971798 | 144450 | 1116248 |
| 2019-12-31 00:00:00+00:00 | SECOORA  | 1114484 | 136896 | 1251380 |
| 2020-12-31 00:00:00+00:00 | SECOORA  |  969172 | 133382 | 1102554 |
| 2021-12-31 00:00:00+00:00 | SECOORA  | 1004884 | 168214 | 1173098 |
| 2022-12-31 00:00:00+00:00 | SECOORA  |  984082 | 201878 | 1185960 |
| 2023-12-31 00:00:00+00:00 | SECOORA  | 1080308 | 307230 | 1387538 |
| 2024-12-31 00:00:00+00:00 | SECOORA  |  847414 | 404116 | 1251530 |
| 2025-12-31 00:00:00+00:00 | SECOORA  |  184242 |  88076 |  272318 |

# Calculate the percentage of IOOS OBS per year

In [23]:
yearly_totals = df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum()

pcnt_obs_year = yearly_totals.loc['IOOS'] / (yearly_totals.loc['IOOS'] + yearly_totals.loc['NDBC'] + yearly_totals.loc['non-NDBC'])

# pcnt_obs_year['total'] =

print(pcnt_obs_year.to_markdown())

| time (UTC)                |      met |     wave |
|:--------------------------|---------:|---------:|
| 2018-12-31 00:00:00+00:00 | 0.155619 | 0.296562 |
| 2019-12-31 00:00:00+00:00 | 0.167812 | 0.312697 |
| 2020-12-31 00:00:00+00:00 | 0.154613 | 0.277295 |
| 2021-12-31 00:00:00+00:00 | 0.149813 | 0.3107   |
| 2022-12-31 00:00:00+00:00 | 0.153994 | 0.278716 |
| 2023-12-31 00:00:00+00:00 | 0.167084 | 0.222074 |
| 2024-12-31 00:00:00+00:00 | 0.167279 | 0.217845 |
| 2025-12-31 00:00:00+00:00 | 0.173252 | 0.228609 |

In [24]:
yearly_totals.loc['IOOS'] + yearly_totals.loc['NDBC'] + yearly_totals.loc['non-NDBC']

# totals['total'] = totals['met']+totals['wave']

# totals['total'].sum()

#totals

                                met     wave
time (UTC)
2018-12-31 00:00:00+00:00  65867386  5350148
2019-12-31 00:00:00+00:00  67601032  5381422
2020-12-31 00:00:00+00:00  67921642  5086546
2021-12-31 00:00:00+00:00  68018280  5184606
2022-12-31 00:00:00+00:00  73349742  5799952
2023-12-31 00:00:00+00:00  76123506  8088546
2024-12-31 00:00:00+00:00  76487008  7923096
2025-12-31 00:00:00+00:00  16799904  1479514

In [20]:
yearly_totals.loc['IOOS'].sum().sum()

np.float64(93773510.0)

In [10]:
yearly_totals.loc['IOOS','total'] = yearly_totals.loc['IOOS','met'] + yearly_totals.loc['IOOS','wave']

yearly_totals.loc['IOOS']

                                met     wave  total
time (UTC)
2018-12-31 00:00:00+00:00  10250188  1586648    NaN
2019-12-31 00:00:00+00:00  11344260  1682754    NaN
2020-12-31 00:00:00+00:00  10501536  1410472    NaN
2021-12-31 00:00:00+00:00  10189996  1610856    NaN
2022-12-31 00:00:00+00:00  11295426  1616542    NaN
2023-12-31 00:00:00+00:00  12719038  1796258    NaN
2024-12-31 00:00:00+00:00  12794686  1726010    NaN
2025-12-31 00:00:00+00:00   2910610   338230    NaN

# Total number of unique platforms submitting data to the GTS from the IOOS regions

IOOS location IDs

In [11]:
df.loc[df['source']=='IOOS'].locationID

time (UTC)
2018-01-01 00:00:00+00:00    46108
2018-01-01 00:00:00+00:00    AJXA2
2018-01-01 00:00:00+00:00    CDXA2
2018-01-01 00:00:00+00:00    ERXA2
2018-01-01 00:00:00+00:00    GIXA2
                             ...
2025-03-01 00:00:00+00:00    SIPF1
2025-03-01 00:00:00+00:00    42098
2025-03-01 00:00:00+00:00    44095
2025-03-01 00:00:00+00:00    44086
2025-03-01 00:00:00+00:00    44089
Name: locationID, Length: 15971, dtype: object

In [105]:
n_ioos_stn = len(df.loc[df['source']=='IOOS'].locationID.unique())

n_ioos_stn

260

All location ID's

In [106]:
n_all_stn = len(df.locationID.unique())

n_all_stn

1039

IOOS stations represent this of the total # stations whose data are delivered by NDBC to the GTS

In [107]:
station_pcnt = n_ioos_stn / n_all_stn

print(f'IOOS stations represent {station_pcnt*100:.2f}% of the total {n_all_stn} stations whose data are delivered by NDBC to the GTS')

IOOS stations represent 25.02% of the total 1039 stations whose data are delivered by NDBC to the GTS

Focusing on station platform counts (260, I believe) - Can you compute what % that is of the total delivered by NDBC to the GTS? (I didn't notice if you identify the total # stations anywhere).

So, we can say "IOOS stations represent x% of the total # stations whose data are delivered by NDBC to the GTS"

In [75]:
ioos_ndbc_non_NDBC = yearly_totals.loc['IOOS'] + yearly_totals.loc['NDBC'] + yearly_totals.loc['non-NDBC']

yearly_totals.loc['IOOS','total'].sum() / ioos_ndbc_non_NDBC['total'].sum()

np.float64(0.16851726513095686)

# Total number of sponsors submitting data to the GTS via IOOS Regions

In [13]:
df.loc[df['source']=='IOOS'].sponsor

time (UTC)
2018-01-01 00:00:00+00:00                      ALASKA OCEAN OBSERVING SYSTEM
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
                                                  ...
2025-03-01 00:00:00+00:00                    FLORIDA INSTITUTE OF TECHNOLOGY
2025-03-01 00:00:00+00:00    GREATER TAMPA BAY MARINE ADVISORY COUNCIL PORTS
2025-03-01 00:00:00+00:00       UNIVERSITY OF NORTH CAROLINA COASTAL STUDIES
2025-03-01 00:00:00+00:00       UNIVERSITY OF NORTH CAROLINA COASTAL STUDIES
2025-03-01 00:00:00+00:00                       U.S. ARMY CORPS OF ENGINEERS
Name: sponsor, Length: 15971, dtype: object

In [14]:
len(df.loc[df['source']=='IOOS'].sponsor.unique())

47

# Average number of messages (met+wave) per year

For all the years, including 2025

In [15]:
print(df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum().loc['IOOS'].mean().to_markdown(floatfmt=''))
print(df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum().loc['IOOS'].mean().sum())

|      |           0 |
|:-----|------------:|
| met  | 10250717.5  |
| wave |  1470971.25 |
11721688.75

for 2018-2024, since 2025 is only through March.

In [66]:
print(df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum().loc['IOOS'].loc[:"2024"].mean().to_markdown(floatfmt=''))
print(df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum().loc['IOOS'].loc[:"2024"].mean().sum())

|      |                   0 |
|:-----|--------------------:|
| met  | 11299304.285714285  |
| wave |  1632791.4285714286 |
12932095.714285715

## Trying to regroup to account for CO-OPs 6-min obs.

In [16]:
df.groupby(by=["source", pd.Grouper(freq='h')])[['met','wave']].sum().loc['non-NDBC']

                               met    wave
time (UTC)
2018-01-01 00:00:00+00:00  4302942  185918
2018-02-01 00:00:00+00:00  3859286  169298
2018-03-01 00:00:00+00:00  4233350  189658
2018-04-01 00:00:00+00:00  4152756  181056
2018-05-01 00:00:00+00:00  4298992  203102
...                            ...     ...
2024-11-01 00:00:00+00:00  4411730  242504
2024-12-01 00:00:00+00:00  4483752  190722
2025-01-01 00:00:00+00:00  4158458  205566
2025-02-01 00:00:00+00:00  3352772  190114
2025-03-01 00:00:00+00:00  4451978  219128

[87 rows x 2 columns]

## Total number of stations

In [83]:
print(len(df.locationID.unique()))

print(df.locationID.unique())

1039
['46108' 'AJXA2' 'CDXA2' ... '46236' '42354' 'CXLM2']

In [84]:
260/1039

0.2502406159769009

In [87]:
df.locationID

time (UTC)
2018-01-01 00:00:00+00:00    46108
2018-01-01 00:00:00+00:00    AJXA2
2018-01-01 00:00:00+00:00    CDXA2
2018-01-01 00:00:00+00:00    ERXA2
2018-01-01 00:00:00+00:00    GIXA2
                             ...
2025-03-01 00:00:00+00:00    OCSM2
2025-03-01 00:00:00+00:00    44097
2025-03-01 00:00:00+00:00    FRFN7
2025-03-01 00:00:00+00:00    44100
2025-03-01 00:00:00+00:00    32012
Name: locationID, Length: 74309, dtype: object

"IOOS contributes the largest number of NOS platforms to the GTS." For the latter, we'd need to identify "NOS" (not to confuse with an earlier comment in a different issue about defining NOS, in which case I was equating NOS with CO-OPS based on the non-NDBC report labels). In this case,
1. NOS = IOOS-regional (all) + non-NDBC (National ocean service, NOAA NOS PORTS, CBIBS, and NERRS.)

2. Perhaps add another condition where if there are 0s for stations, then omit from the station count?

3. And constrain the station count to only the Calendar Year 2024.

In [168]:
non_ndbc_nos_list = ['CHESAPEAKE BAY INTERPRETIVE BUOY SYSTEM',
'NATIONAL ESTUARINE RESEARCH RESERVE SYSTEM',
'NATIONAL OCEAN SERVICE',
'NOAA NOS PHYSICAL OCEANOGRAPHIC RT SYSTEM PROGRAM']

df_non_ndbc = df.loc[df['source']=='non-NDBC']

nos = df_non_ndbc[df_non_ndbc['sponsor'].isin(non_ndbc_nos_list)]

#nos = pd.concat([filtered,df.loc[df['source']=='IOOS']])

condition = (nos['met'] ==0) & (nos['wave']==0)

nos = nos[~condition]

ioos = df.loc[df['source']=='IOOS']
condition = (ioos['met'] ==0) & (ioos['wave']==0)
ioos = ioos[~condition]

ioos_platform_count = len(ioos.locationID.unique())
nos_platform_count = len(nos.locationID.unique())

print(f'{ioos_platform_count} / {nos_platform_count} = **{(ioos_platform_count/nos_platform_count)*100:.2f}%**')

237 / 338 = **70.12%**

In [165]:
for sponsor in non_ndbc_nos_list:
  length = len(nos.loc[nos['sponsor']==sponsor].locationID.unique())
  print(f'{sponsor}: {length}')

#len(nos.loc[nos['sponsor']=='CHESAPEAKE BAY INTERPRETIVE BUOY SYSTEM'].locationID.unique())

CHESAPEAKE BAY INTERPRETIVE BUOY SYSTEM: 8
NATIONAL ESTUARINE RESEARCH RESERVE SYSTEM: 35
NATIONAL OCEAN SERVICE: 283
NOAA NOS PHYSICAL OCEANOGRAPHIC RT SYSTEM PROGRAM: 83

In [166]:
nos.loc[nos['sponsor']=='NATIONAL OCEAN SERVICE']

,Year,Month,locationID,region,sponsor,met,wave,source
time (UTC),,,,,,,,
2018-01-01 00:00:00+00:00,2018,1,AAMC1,NaN,NATIONAL OCEAN SERVICE,14708,0,non-NDBC
2018-01-01 00:00:00+00:00,2018,1,ACYN4,NaN,NATIONAL OCEAN SERVICE,14722,0,non-NDBC
2018-01-01 00:00:00+00:00,2018,1,ADKA2,NaN,NATIONAL OCEAN SERVICE,14702,0,non-NDBC
2018-01-01 00:00:00+00:00,2018,1,AGCM4,NaN,NATIONAL OCEAN SERVICE,14740,0,non-NDBC
2018-01-01 00:00:00+00:00,2018,1,AGXC1,NaN,NATIONAL OCEAN SERVICE,13722,0,non-NDBC
...,...,...,...,...,...,...,...,...
2022-06-01 00:00:00+00:00,2022,6,FPST2,GCOOS,NATIONAL OCEAN SERVICE,14264,0,IOOS
2022-07-01 00:00:00+00:00,2022,7,TXPT2,GCOOS,NATIONAL OCEAN SERVICE,14590,0,IOOS
2022-07-01 00:00:00+00:00,2022,7,FPST2,GCOOS,NATIONAL OCEAN SERVICE,14758,0,IOOS
2022-08-01 00:00:00+00:00,2022,8,TXPT2,GCOOS,NATIONAL OCEAN SERVICE,14732,0,IOOS
2022-08-01 00:00:00+00:00,2022,8,FPST2,GCOOS,NATIONAL OCEAN SERVICE,14720,0,IOOS

In [160]:
len(nos.loc[nos['sponsor']=='NATIONAL ESTUARINE RESEARCH RESERVE SYSTEM'].locationID.unique())

35

In [161]:
len(nos.loc[nos['sponsor']=='NATIONAL OCEAN SERVICE'].locationID.unique())

283

In [164]:
len(nos.loc[nos['sponsor']=='NOAA NOS PHYSICAL OCEANOGRAPHIC RT SYSTEM PROGRAM'].locationID.unique())

83

In [124]:
df.loc[df['source']=='non-NDBC'].sponsor.unique()

array([nan, 'BP INC.', 'EPA & MEXICAN GOVERNMENT COOPERATIVE PROGRAM',
       'CHESAPEAKE BAY INTERPRETIVE BUOY SYSTEM',
       'SCRIPPS WAVERIDER COASTAL DATA INFORMATION PROGRAM',
       'EVERGLADES NATIONAL PARK', 'GREAT LAKES RESEARCH LABORATORY',
       'INTEGRATED CORAL OBSERVING NETWORK',
       'LOUISIANA OFFSHORE OIL PORT', 'MOSS LANDING MARINE LABORATORIES',
       'NATIONAL ESTUARINE RESEARCH RESERVE SYSTEM',
       'NATIONAL OCEAN SERVICE',
       'NATIONAL PARK SERVICE - LAKE MEAD NATIONAL REC AREA',
       'NATIONAL RENEWABLE ENERGY LABORATORY',
       'NATIONAL WEATHER SERVICE, ALASKA REGION',
       'NATIONAL WEATHER SERVICE, CENTRAL REGION',
       'NATIONAL WEATHER SERVICE, EASTERN REGION',
       'OCEAN OBSERVATORIES INITIATIVE', 'PETROBRAS', 'SHELL OIL',
       'U.S. ARMY CORPS OF ENGINEERS',
       'WOODS HOLE OCEANOGRAPHIC INSTITUTION', 'VERMONT EPSCOR',
       'NATIONAL PARK SERVICES - SLEEPING BEAR DUNES',
       'ALASKA OCEAN OBSERVING SYSTEM',
       'SUNY PLATTSBURGH CEES / LAKE CHAMPLAIN RESEARCH INST.',
       'UNIVERSITY OF ILLINOIS AT URBANA-CHAMPAGNE',
       'MARINE EXCHANGE OF ALASKA',
       'TEXAS COASTAL OCEAN OBSERVATION NETWORK', 'LIMNOTECH',
       'USF COMPS MARINE NETWORK', 'MURPHY OIL CORP.',
       'UNIVERSITY OF NEW HAMPSHIRE', 'STONY BROOK UNIVERSITY',
       'NOAA NOS PHYSICAL OCEANOGRAPHIC RT SYSTEM PROGRAM',
       'COASTAL OCEAN RESEARCH AND MONITORING PROGRAM', 'U.S. NAVY',
       'UNIVERSITY OF NORTH CAROLINA COASTAL STUDIES',
       'U. S. COAST GUARD',
       'CARIBBEAN INTEGRATED COASTAL OCEAN OBSERVING SYSTEM',
       'UNIVERSITY OF WISCONSIN AT MILWAUKEE',
       'ILLINOIS-INDIANA SEA GRANT',
       'COASTAL DATA INFORMATION PROGRAM/PMEL',
       'GREAT LAKES WATER AUTHORITY', 'CLEVELAND WATER ALLIANCE',
       'MICHIGAN TECHNICAL UNIVERSITY',
       'COASTAL DATA INFORMATION PROGRAM/AOOS',
       'UNIVERSITY OF MINNESOTA AT DULUTH', 'OREGON STATE'], dtype=object)

In [138]:
df_ioos = df.loc[(df['source']=='IOOS')]

condition = (df_ioos['met'] ==0) & (df_ioos['wave']==0)

len(df_ioos[~condition].locationID.unique())

237

In [139]:
df.locationID.unique()

condition = (df['met'] ==0) & (df['wave']==0)

len(df[~condition].locationID.unique())

975

In [141]:
(237/975) * 100

24.307692307692307