<a href="https://colab.research.google.com/github/MathewBiddle/ioos_metrics/blob/yearly_ra_gts/notebooks/IOOS_obs_2_NDBC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install erddapy

Requirement already satisfied: erddapy in /usr/local/lib/python3.11/dist-packages (2.2.4)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.11/dist-packages (from erddapy) (0.28.1)
Requirement already satisfied: pandas<3,>=0.25.2 in /usr/local/lib/python3.11/dist-packages (from erddapy) (2.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.11/dist-packages (from erddapy) (2025.2)
Requirement already satisfied: anyio in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (4.9.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (1.0.8)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from httpx>=0.25.0->erddapy) (3.10)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx>=0.25.0->erddapy) (0.14.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=0.25.2->erddapy) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=0.25.2->erddapy) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx>=0.25.0->erddapy) (1.3.1)
Requirement already satisfied: typing_extensions>=4.5 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx>=0.25.0->erddapy) (4.13.2)

In [2]:
import pandas as pd
from erddapy import ERDDAP

# Function to grab the data.

In [3]:
def get_ndbc_full_stats():
    e = ERDDAP(
        server="https://erddap.ioos.us/erddap",
        protocol="tabledap",
    )
    e.response = "csv"
    dsets = {"IOOS": "gts_regional_statistics",
             "NDBC": "gts_ndbc_statistics",
             "non-NDBC": "gts_non_ndbc_statistics"}
    df_out = pd.DataFrame()
    for key, value in dsets.items():
        e.dataset_id = value
        df = e.to_pandas(
            index_col="time (UTC)",
            parse_dates=True
        )
        df["source"] = key
        df_out = pd.concat([df_out,df])
    return df_out

# Go get the data and return the dataframe

In [4]:
df = get_ndbc_full_stats()

df

,Year,Month,locationID,region,sponsor,met,wave,source
time (UTC),,,,,,,,
2018-01-01 00:00:00+00:00,2018,1,46108,AOOS,ALASKA OCEAN OBSERVING SYSTEM,0,2592,IOOS
2018-01-01 00:00:00+00:00,2018,1,AJXA2,AOOS,MARINE EXCHANGE OF ALASKA,8796,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,CDXA2,AOOS,MARINE EXCHANGE OF ALASKA,4782,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,ERXA2,AOOS,MARINE EXCHANGE OF ALASKA,5634,0,IOOS
2018-01-01 00:00:00+00:00,2018,1,GIXA2,AOOS,MARINE EXCHANGE OF ALASKA,8798,0,IOOS
...,...,...,...,...,...,...,...,...
2025-03-01 00:00:00+00:00,2025,3,OCSM2,NaN,U.S. ARMY CORPS OF ENGINEERS,0,0,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,44097,NaN,U.S. ARMY CORPS OF ENGINEERS,0,2976,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,FRFN7,NaN,U.S. ARMY CORPS OF ENGINEERS,0,0,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,44100,NaN,U.S. ARMY CORPS OF ENGINEERS,0,2976,non-NDBC
2025-03-01 00:00:00+00:00,2025,3,32012,NaN,WOODS HOLE OCEANOGRAPHIC INSTITUTION,0,0,non-NDBC

# Compute yearly totals of number of IOOS messages sent to the GTS.

In [5]:
yearly_totals = df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum()
print(yearly_totals.loc['IOOS'].to_markdown(floatfmt=''))

| time (UTC)                |        met |      wave |
|:--------------------------|-----------:|----------:|
| 2018-12-31 00:00:00+00:00 | 10250188.0 | 1586648.0 |
| 2019-12-31 00:00:00+00:00 | 11344260.0 | 1682754.0 |
| 2020-12-31 00:00:00+00:00 | 10501536.0 | 1410472.0 |
| 2021-12-31 00:00:00+00:00 | 10189996.0 | 1610856.0 |
| 2022-12-31 00:00:00+00:00 | 11295426.0 | 1616542.0 |
| 2023-12-31 00:00:00+00:00 | 12719038.0 | 1796258.0 |
| 2024-12-31 00:00:00+00:00 | 12794686.0 | 1726010.0 |
| 2025-12-31 00:00:00+00:00 |  2910610.0 |  338230.0 |

# Compute yearly totals of IOOS messages sent to the GTS by region.

In [6]:
yearly_region_totals = df.groupby(by=["source", "region", pd.Grouper(freq="YE")])[['met','wave']].sum()
yearly_region_totals.reset_index('region',inplace=True)
print(yearly_region_totals.loc['IOOS'].to_markdown(floatfmt=''))

| time (UTC)                | region   |     met |   wave |
|:--------------------------|:---------|--------:|-------:|
| 2018-12-31 00:00:00+00:00 | AOOS     | 2571070 |  27968 |
| 2019-12-31 00:00:00+00:00 | AOOS     | 2810422 |  31584 |
| 2020-12-31 00:00:00+00:00 | AOOS     | 2697606 |   8258 |
| 2021-12-31 00:00:00+00:00 | AOOS     | 2574888 |  24336 |
| 2022-12-31 00:00:00+00:00 | AOOS     | 3675118 |  37414 |
| 2023-12-31 00:00:00+00:00 | AOOS     | 5620044 |  34026 |
| 2024-12-31 00:00:00+00:00 | AOOS     | 5939434 |  31992 |
| 2025-12-31 00:00:00+00:00 | AOOS     | 1516796 |   8100 |
| 2018-12-31 00:00:00+00:00 | CARICOOS |  619422 |  68520 |
| 2019-12-31 00:00:00+00:00 | CARICOOS |  719876 |  83582 |
| 2020-12-31 00:00:00+00:00 | CARICOOS |  629990 |  93232 |
| 2021-12-31 00:00:00+00:00 | CARICOOS |  676958 |  99074 |
| 2022-12-31 00:00:00+00:00 | CARICOOS |  506648 | 101264 |
| 2023-12-31 00:00:00+00:00 | CARICOOS |  335790 | 120508 |
| 2024-12-31 00:00:00+00:00 | CARICOOS |  358806 |  99550 |
| 2025-12-31 00:00:00+00:00 | CARICOOS |  101748 |  25704 |
| 2018-12-31 00:00:00+00:00 | CeNCOOS  |  520352 |      0 |
| 2019-12-31 00:00:00+00:00 | CeNCOOS  |  614208 |      0 |
| 2020-12-31 00:00:00+00:00 | CeNCOOS  |  476714 |      0 |
| 2021-12-31 00:00:00+00:00 | CeNCOOS  |  486558 |      0 |
| 2022-12-31 00:00:00+00:00 | CeNCOOS  |  438034 |      0 |
| 2023-12-31 00:00:00+00:00 | CeNCOOS  |  466466 |      0 |
| 2024-12-31 00:00:00+00:00 | CeNCOOS  |  402722 |      0 |
| 2025-12-31 00:00:00+00:00 | CeNCOOS  |   88454 |      0 |
| 2018-12-31 00:00:00+00:00 | GCOOS    | 4194290 |      0 |
| 2019-12-31 00:00:00+00:00 | GCOOS    | 4589990 |   1658 |
| 2020-12-31 00:00:00+00:00 | GCOOS    | 4462670 |   9972 |
| 2021-12-31 00:00:00+00:00 | GCOOS    | 4281378 |      0 |
| 2022-12-31 00:00:00+00:00 | GCOOS    | 4464360 |      0 |
| 2023-12-31 00:00:00+00:00 | GCOOS    | 4179490 |      0 |
| 2024-12-31 00:00:00+00:00 | GCOOS    | 4469570 |      0 |
| 2025-12-31 00:00:00+00:00 | GCOOS    |  955506 |  15752 |
| 2018-12-31 00:00:00+00:00 | GLOS     |  931280 | 727248 |
| 2019-12-31 00:00:00+00:00 | GLOS     |  984798 | 767838 |
| 2020-12-31 00:00:00+00:00 | GLOS     |  799460 | 507360 |
| 2021-12-31 00:00:00+00:00 | GLOS     |  985644 | 821922 |
| 2022-12-31 00:00:00+00:00 | GLOS     |  916966 | 674476 |
| 2023-12-31 00:00:00+00:00 | GLOS     |  734626 | 708656 |
| 2024-12-31 00:00:00+00:00 | GLOS     |  503360 | 477802 |
| 2025-12-31 00:00:00+00:00 | GLOS     |    4228 |      0 |
| 2018-12-31 00:00:00+00:00 | NANOOS   |  192018 |  12548 |
| 2019-12-31 00:00:00+00:00 | NANOOS   |  295346 |  25746 |
| 2020-12-31 00:00:00+00:00 | NANOOS   |  242372 |  22708 |
| 2021-12-31 00:00:00+00:00 | NANOOS   |   12756 |  20740 |
| 2022-12-31 00:00:00+00:00 | NANOOS   |  114814 |   8812 |
| 2023-12-31 00:00:00+00:00 | NANOOS   |  100926 |      0 |
| 2024-12-31 00:00:00+00:00 | NANOOS   |   72704 |      0 |
| 2025-12-31 00:00:00+00:00 | NANOOS   |   17616 |      0 |
| 2018-12-31 00:00:00+00:00 | NERACOOS |  249958 | 202224 |
| 2019-12-31 00:00:00+00:00 | NERACOOS |  215136 | 144264 |
| 2020-12-31 00:00:00+00:00 | NERACOOS |  223552 | 143672 |
| 2021-12-31 00:00:00+00:00 | NERACOOS |  166930 | 134378 |
| 2022-12-31 00:00:00+00:00 | NERACOOS |  195404 | 162558 |
| 2023-12-31 00:00:00+00:00 | NERACOOS |  201388 | 208866 |
| 2024-12-31 00:00:00+00:00 | NERACOOS |  200676 | 196482 |
| 2025-12-31 00:00:00+00:00 | NERACOOS |   42020 |  45902 |
| 2018-12-31 00:00:00+00:00 | PacIOOS  |       0 | 370940 |
| 2019-12-31 00:00:00+00:00 | PacIOOS  |       0 | 456810 |
| 2020-12-31 00:00:00+00:00 | PacIOOS  |       0 | 457412 |
| 2021-12-31 00:00:00+00:00 | PacIOOS  |       0 | 308712 |
| 2022-12-31 00:00:00+00:00 | PacIOOS  |       0 | 396018 |
| 2023-12-31 00:00:00+00:00 | PacIOOS  |       0 | 382024 |
| 2024-12-31 00:00:00+00:00 | PacIOOS  |       0 | 481492 |
| 2025-12-31 00:00:00+00:00 | PacIOOS  |       0 | 146066 |
| 2018-12-31 00:00:00+00:00 | SCCOOS   |       0 |  32750 |
| 2019-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34376 |
| 2020-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34476 |
| 2021-12-31 00:00:00+00:00 | SCCOOS   |       0 |  33480 |
| 2022-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34122 |
| 2023-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34948 |
| 2024-12-31 00:00:00+00:00 | SCCOOS   |       0 |  34576 |
| 2025-12-31 00:00:00+00:00 | SCCOOS   |       0 |   8630 |
| 2018-12-31 00:00:00+00:00 | SECOORA  |  971798 | 144450 |
| 2019-12-31 00:00:00+00:00 | SECOORA  | 1114484 | 136896 |
| 2020-12-31 00:00:00+00:00 | SECOORA  |  969172 | 133382 |
| 2021-12-31 00:00:00+00:00 | SECOORA  | 1004884 | 168214 |
| 2022-12-31 00:00:00+00:00 | SECOORA  |  984082 | 201878 |
| 2023-12-31 00:00:00+00:00 | SECOORA  | 1080308 | 307230 |
| 2024-12-31 00:00:00+00:00 | SECOORA  |  847414 | 404116 |
| 2025-12-31 00:00:00+00:00 | SECOORA  |  184242 |  88076 |

# Calculate the percentage of IOOS OBS per year

In [7]:
yearly_totals = df.groupby(by=["source", pd.Grouper(freq="YE")])[['met','wave']].sum()

pcnt_obs_year = yearly_totals.loc['IOOS'] / (yearly_totals.loc['IOOS'] + yearly_totals.loc['NDBC'] + yearly_totals.loc['non-NDBC'])

print(pcnt_obs_year.to_markdown())

| time (UTC)                |      met |     wave |
|:--------------------------|---------:|---------:|
| 2018-12-31 00:00:00+00:00 | 0.155619 | 0.296562 |
| 2019-12-31 00:00:00+00:00 | 0.167812 | 0.312697 |
| 2020-12-31 00:00:00+00:00 | 0.154613 | 0.277295 |
| 2021-12-31 00:00:00+00:00 | 0.149813 | 0.3107   |
| 2022-12-31 00:00:00+00:00 | 0.153994 | 0.278716 |
| 2023-12-31 00:00:00+00:00 | 0.167084 | 0.222074 |
| 2024-12-31 00:00:00+00:00 | 0.167279 | 0.217845 |
| 2025-12-31 00:00:00+00:00 | 0.173252 | 0.228609 |

# Total number of unique platforms submitting data to the GTS from the IOOS regions

In [8]:
df.loc[df['source']=='IOOS'].locationID

time (UTC)
2018-01-01 00:00:00+00:00    46108
2018-01-01 00:00:00+00:00    AJXA2
2018-01-01 00:00:00+00:00    CDXA2
2018-01-01 00:00:00+00:00    ERXA2
2018-01-01 00:00:00+00:00    GIXA2
                             ...
2025-03-01 00:00:00+00:00    SIPF1
2025-03-01 00:00:00+00:00    42098
2025-03-01 00:00:00+00:00    44095
2025-03-01 00:00:00+00:00    44086
2025-03-01 00:00:00+00:00    44089
Name: locationID, Length: 15971, dtype: object

In [9]:
len(df.loc[df['source']=='IOOS'].locationID.unique())

260

# Total number of sponsors submitting data to the GTS via IOOS Regions

In [10]:
df.loc[df['source']=='IOOS'].sponsor

time (UTC)
2018-01-01 00:00:00+00:00                      ALASKA OCEAN OBSERVING SYSTEM
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
2018-01-01 00:00:00+00:00                          MARINE EXCHANGE OF ALASKA
                                                  ...
2025-03-01 00:00:00+00:00                    FLORIDA INSTITUTE OF TECHNOLOGY
2025-03-01 00:00:00+00:00    GREATER TAMPA BAY MARINE ADVISORY COUNCIL PORTS
2025-03-01 00:00:00+00:00       UNIVERSITY OF NORTH CAROLINA COASTAL STUDIES
2025-03-01 00:00:00+00:00       UNIVERSITY OF NORTH CAROLINA COASTAL STUDIES
2025-03-01 00:00:00+00:00                       U.S. ARMY CORPS OF ENGINEERS
Name: sponsor, Length: 15971, dtype: object

In [11]:
len(df.loc[df['source']=='IOOS'].sponsor.unique())

47